@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .btn {
        @apply block w-full rounded bg-green-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-green-700 focus:outline-none focus:ring active:bg-green-500 sm:w-auto;
    }
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}
/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    border-radius: 4px; /* Set the border radius to make it rounded */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000; /* Set the background color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #353535; /* Set the thumb color */
    border-radius: 4px; /* Set the border radius to make it rounded */
  }
  
  /* For Firefox */
  scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  scrollbar-thumb {
    background-color: #353535; /* Set the thumb color */
    border-radius: 4px; /* Set the border radius to make it rounded */
  }
  
  scrollbar-track {
    background-color: #000; /* Set the track color */
  }
  